# -----------------------------
# CropCare Backend - Requisitos
# -----------------------------

# --- Framework web y API ---
Django~=5.2.8
djangorestframework~=3.16.1
django-filter~=24.3
django-cors-headers~=4.9.0

# --- Autenticación (JWT) ---
djangorestframework-simplejwt~=5.5.1
Faker==38.0.0

# --- Documentación API ---
drf-spectacular~=0.27.2
drf-spectacular-sidecar~=2025.9.1

# --- Configuración y archivos ---
django-environ~=0.12.0
pillow~=11.3.0                   # Imágenes
psycopg[binary]~=3.2.10          # PostgreSQL (para cuando cambies)
sqlparse~=0.5.3
typing_extensions~=4.15.0

# --- Tareas asíncronas (para más adelante) ---
celery~=5.4.0
redis~=5.1.1

# --- S3 Storage ---
boto3~=1.35.80
django-storages~=1.14.3

# --- Despliegue (futuro) ---
whitenoise~=6.8.2
gunicorn~=22.0.0

# aplicaciónes que se instalan fuera pero que son importantes para instalar el postgreSQL
#python3-dev
#libpq-dev
#build-essential
psycopg2
reportlab==4.0.7